image: samueldebruyn/debian-git

stages:
  - deploy

Mirror to GitHub:
  stage: deploy
  tags:
    - linux
  script:
    - /usr/bin/git pull
    - /usr/bin/git push --mirror https://$GITHUB_USER:$GITHUB_PASS@github.com/daemondazz/esp01-motion-sensor.git
